version: 2
updates:
  # Atualiza dependências do backend (raiz)
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:00"
      timezone: "America/Sao_Paulo"
    open-pull-requests-limit: 10
    reviewers:
      - "tr364" # Substitua pelo seu username do GitHub
    labels:
      - "dependencies"
      - "backend"
    commit-message:
      prefix: "chore"
      include: "scope"
    # Agrupa atualizações de segurança
    groups:
      security-updates:
        patterns:
          - "*"
        update-types:
          - "security"

  # Atualiza dependências do frontend
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
      time: "04:00"
      timezone: "America/Sao_Paulo"
    open-pull-requests-limit: 10
    reviewers:
      - "tr364" # Substitua pelo seu username do GitHub
    labels:
      - "dependencies"
      - "frontend"
    commit-message:
      prefix: "chore"
      include: "scope"
    # Agrupa atualizações de segurança
    groups:
      security-updates:
        patterns:
          - "*"
        update-types:
          - "security"

